body {
	padding: 20px;
	font-size: 15px;
}

img {
	height: 80px;
	width: 80px;
}

.wrapper {
	background-color: #eee;
	min-width: 600px;
	overflow: auto;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #999;
}

.left {
	float: left;
	width: 160px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #999;
}

.left img {
	float: left;
	display: inline-block;
}

.middle {
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
	background: #fff;
  	border: 1px solid #999;
}

.right {
	float: right;
	width: 120px;
	background-color: #fff;
 	border: 1px solid #999;
}

.right img {
	background: #fff;
	display: block;
	margin: 20px;
	border: 1px solid #999;
}
