* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Arial,sans-serif;
}

.wrapper {
	padding: 20px;
	margin: 20px;
	background: #eee;
	overflow: auto;
	min-width: 600px;
}
.wrapper, .left, .middle, .right, .right img {
	border: 1px solid #aaa;
}
.left {
	width: 178px;
	float: left;
	padding: 10px;
	position: relative;
}
.left h1 {
	position: absolute;
	right: 0;
	top: 0;
}
.right {
	float: right;
	width: 76px;
	padding: 10px 20px;
}
.right img {
	margin: 10px 0;
}
.middle {
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
}