* {
	padding: 0;
	margin: 0;
	font-size: 14px;
}
body {
	background: #dedede;
	font-family: Arial,sans-serif;
	min-width: 600px;
}
h1 {
    padding:5px 0;
    font-size: 20px;
}
h2 {
    padding:10px 0;
    color:#808080;
    font-size:16px;
}

header {
	background: #333333;
	height: 60px;
}
header img {
	padding-left: 10px;
}
header nav {
	float: right; 
	height: 60px;
	line-height: 60px;
	margin-right: 20px;
}
header nav ul li{
	float: left;
	list-style-type: disc;
	font-size: 14px;
	width: 80px;
	margin-right: 10px;
}
header nav ul li a {
	color: #fff;
	text-decoration: none;
}
header nav ul li:hover,
header nav ul li.active {
	color: #ccc;
}
header nav ul li:hover a,
header nav ul li.active a{
	color: #ccc;
}

article, figure, aside {
	background: #fff;
	margin: 20px;
	padding: 20px;
	box-shadow: 4px 4px 3px #aaa;
}
article span {
	font-size: 14px;
}
article ol {
	margin: 10px 0px 10px 60px;
	padding: 10px;
}
article table {
	width: 98%;
	margin: 0 auto;
}
article table tr th {
	background: #333;
	color: #fff;
}
.pics, article ul li {
	list-style: none;	
}
.pics li{
	display: inline-block;
	border: 1px solid #aaa;
	width: 120px;
	margin: 6px;
	text-align: center;
}
.pics img {
	width: 80px;
	height: 80px;
}
.lastTr {
	background: #ccc;
}

/*aside*/
aside {
	width: 350px;
	float: right;
}
aside h1 {
	padding: 6px 20px;
	border-left: 4px solid #ccc;
}
aside button {
	background: #3355D0;
	display: block;
	margin: 0 auto;
	width: 100%;
	color: #fff;
	height: 40px;
	border-radius: 10px;
}
aside div {
	margin: 10px;
}
aside form div p {
	margin-left: 36%;
	color: #ccc;
	font-size: 16px;
	padding: 5px 0;
}
aside form textarea {
	width: 50%;
	height: 100px;
}
.tips {
	display: inline-block;
    text-align:right;
    width:36%;
}
/*footer*/
footer {
	background: #000;
	width: 100%;
	color: #fff;
	height: 70px;
	text-align: center;
	line-height: 70px;
}

.content {
	margin-right: 410px;
}